*{
padding:0px;
margin:0px;
}
body{
background-color:#fccccf;
}
#hamburger
{
margin-left:0px;
text-align:center;
display:border;
border:1px solid cyan;
background-color:cyan;
width:120px;
height:35px;
border-radius:8px;
line-height:35px;
}
#menu{
width:100%;}
#menu ul
{
list-style:none;
}
#menu ul ul li
{
margin-left:0px;
background-color:black;
border:1px solid cyan;
width:120px;
height:35px;
line-height:35px;
text-align:center;
border-radius:8px;

position:relative;
}
#menu ul li a
{
text-decoration:none;
color:white;
display:block;
}
#menu ul li a:hover
{
background-color:black;
color:cyan;
border-radius:8px;
}
#menu ul ul
{
  margin-left:0px;
position:absolute;
display:none;
}
#menu ul li:hover>ul
{
display:block;
}
#menu ul ul ul
{
margin:121px;
top:-121px;
}
